.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }
  
  .card {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  #convertedImg {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  #downloadLink {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  